*{
    text-align: justify;
}
body {
    margin: 60px auto;
    width: 70%;
    background-image: url("background.gif");
    background-repeat: none;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color : #ffffff;
}
nav ul li, footer ul li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    font-size: 1.5em;
    line-height: 1.4em;
    margin-right: 20px;
    color : #ffffff;
}
a {
    text-decoration: none;
    color:#ffffff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#ffffff;
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#ffffff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color:#ffffff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px;
    padding: 0;
    font-size: 1.5em;
    color : #ffffff;
}

ul.posts li {
    list-style: none;

}

img{
    width : 600px;
}

img[alt=challDesc]{
    width: 400px;
}

img[alt=small]{
    width: 200px;
}

img[alt=med]{
    width: 350px;
}

img[alt=large]{
    width: 1000px;
    height: 100px;
}
.summary{
    font-size: 1.5em;
    color : #ffffff;
}

div.post{
   
    margin-right: 150px;
    margin-left: 80px;
    width: 1000px;
}

.navHeader{
    font-size: larger;    
}

.index img{
    height: 300px;
    width: 300px;
}

.box{
    width: 900px;
    color: white;
    font-size: 1em;
}

.highlight{
    overflow: auto;

    font-size: larger;
}

ul{
    font-size: larger;
}
