<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/blog.html">Blog</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>

		<ul>
			<li><a href="https://instagram.com/bryansatmul_" target="_blank">Instagram</a></li>
			<li><a href="https://www.youtube.com/watch?v=ux3cPwC507U&list=PLIJsl6YfUBxEJL4E60BpGXpJ52vdmANPh"
					target="_blank">Youtube</a></li>
			<li><a href="https://github.com/satmul" target="_blank">github.com/satmul</a></li>
		</ul>
	</footer>
</body>

</html>